<mat-toolbar color="primary">
    <button mat-icon-button><mat-icon>dashboard</mat-icon></button>
    <span>Restaurant Menu</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon color="basic">login</mat-icon>
    </button><span>Login</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon  aria-hidden="true">loupe</mat-icon>
    </button>
    <span>Signup</span>
 </mat-toolbar>
